//Background

$bg: #444;
$bgDefaulth: transparent;
$bgAccent: indigo;
$bgSky: deepskyBlue;
$bgError: tomato;

//Colors

$light: #888;
$text: #f1efef;

//Border

$radiusDefault: 5px;

//Fonts

$mainFont: 400 16px / 1.2 'Arial',sans-serif;

// Font title